.fade-enter  {
  opacity: 0;
  /* transform: translateX(100%); */
}
.fade-enter-active {
  opacity: 1;
  /* transform: translateX(0); */
  transition: opacity 300ms ease-in;
}
.fade-exit  {
  /* transform: translateX(0); */
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  /* transform: translateX(-100%); */
  transition: opacity 300ms ease-in;
}

.slide-rectangle {
  border: 1px solid #ccc;
  margin: 8px;
  padding: 16px;
  background-color: white;
  width: auto;
}

/* .slide-container {
  width: calc(100vw - 160px);
  aspect-ratio: 4 / 3;
} */
